*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    text-align: center;
    font-family: 'poppins';
}

.fixed{ position: fixed;}   
.menu{
    position: absolute;
    bottom: 0;
    background: #000000;
    width: 100%;
}
.menu li{
    display: inline-block;
    padding: 24px 40px;
    font-size: 12px;
    font-weight: 400px;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
}
section{
    height: 100vh;
}
#landing-page{
    background: url(../img/background.jpeg);
    background-size: cover;
}
#landing-page h1{
    
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 700px;
    color: #fff;
}
#content{
    background: #fff;
}
p{
    width: 80%;
    margin: 40px auto;
    text-align: justify;
    color: grey;
    line-height: 30px;
    font-size: 16px;
}


@media only screen and (max-width: 520px){
    nav li{
        padding: 24px 4px;
    }
    nav li a{
        font-size: 14px;
    }
}
